[project]
	description = Eclipse Type Explorer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brian de Alwis (briandealwis)
[access "refs/for/refs/*"]
	read = group user/Brian de Alwis (briandealwis)
	push = group user/Brian de Alwis (briandealwis)
	label-Code-Review = -2..+2 group user/Brian de Alwis (briandealwis)
	label-Verified = -1..+1 group user/Brian de Alwis (briandealwis)
	rebase = group user/Brian de Alwis (briandealwis)
	removeReviewer = group user/Brian de Alwis (briandealwis)
	submit = group user/Brian de Alwis (briandealwis)
[access "refs/heads/*"]
	read = group user/Brian de Alwis (briandealwis)
	create = group user/Brian de Alwis (briandealwis)
	push = +force group user/Brian de Alwis (briandealwis)
	pushMerge = group user/Brian de Alwis (briandealwis)
[access "refs/tags/*"]
	push = +force group user/Brian de Alwis (briandealwis)
	pushTag = group user/Brian de Alwis (briandealwis)
	pushSignedTag = group user/Brian de Alwis (briandealwis)
